[auth] # could also be [auth.google] if developer configures multiple
redirect_uri = "https://rested-chicken-selected.ngrok-free.app/login"

[auth.google]
client_id = "...."
client_secret = "...."
server_metadata_url = "https://accounts.google.com/.well-known/openid-configuration"

[auth.auth0]
client_id = "..."
client_secret = "..."
server_metadata_url = "...."

[auth.microsoft]
client_id="...."
client_secret="..."
server_metadata_url="...."

[auth.github]
client_id="..."
client_secret="..."
api_base_url='https://api.github.com/'
access_token_url='https://github.com/login/oauth/access_token'
authorize_url='https://github.com/login/oauth/authorize'
client_kwargs={'scope'='user:email'}