[auth]
redirect_uri = "http://localhost:8501/oauth2callback"
cookie_secret = "your_cookie_secret_here_could_be_any_string"

[auth.google]
client_id = "...."
client_secret = "...."
server_metadata_url = "https://accounts.google.com/.well-known/openid-configuration"

[auth.auth0]
client_id = "..."
client_secret = "..."
server_metadata_url = "...."
client_kwargs = { "prompt" = "login" }

[auth.microsoft]
client_id="...."
client_secret="..."
server_metadata_url="...."
